{%extends 'base.html'%}{% block content %}
<body class="p-10">
  <div class="container m-8">
    <h1>Small beginnings</h1>
    &rarr;<a href="href.html">second page</a>
    <hr />
    <strong>1 ГЛАВА</strong>
    <p>
      <em>
        Вышел как-то пекарь на крыльцо, почесал свое лицо. Видит он Валеру
        Палыча, мужичка удальчика. Ну, за палец потянул и здох. Пришли к нему на
        похроны мужики слева на право:
      </em>
    </p>
    <ul>
      <!-- <ol></ol> цифрами выво -->
      <li>Мужчина Здравый</li>
      <li>Мужчина Бодрый</li>
      <li>Мужчина Норальный</li>
      <li>Мужчина Больной</li>
    </ul>
    <p>
      Начали мужики замерять гроб, по приколу. Намерили 3м<sup>2</sup>. Ну и
      взяли немножко H <sub>2</sub>O и запили, устали видимо
    </p>
  </div>
</body>
{%endblock%}
