{% extends "base.html" %} {% block content %}
<div
        class="navbar bg-base-100 relative z-[1] relative mb-16"
        method="GET"
>
    <div class="absolute left-0 top-0 bottom-0 right-0 z-[-1] opacity-50 bg-cover rounded-[4px] overflow-hidden"
         style="background-image: url('https://image.shutterstock.com/image-vector/cartoon-illustration-very-long-purebred-260nw-123110659.jpg')"></div>
    <div class="flex-1 ">
        <a class="btn btn-ghost normal-case text-xl"
        href="{{url_for('index') }}">
        Anime From Doungus
        </a>
    </div>
    <a
            class="btn btn-primary m-8 gap-2"
            href="{{url_for('createanime') }}"
            target="_blank"
    >
        createanime
    </a>
    <div class="flex-none gap-2">
        <form method="GET">
            <input
                    type="text"
                    placeholder="Search"
                    class="input input-bordered"
                    name="search"
                    value=""
                    required
            />
        </form>
    </div>
    <div class="dropdown dropdown-end">
        <label tabindex="0" class="btn btn-ghost btn-circle avatar">
          <div class="w-10 rounded-full">
            <img src="https://placeimg.com/80/80/people" />
          </div>
        </label>
        <ul tabindex="0" class="mt-3 p-2 shadow menu menu-compact dropdown-content bg-base-100 rounded-box w-52">
          <li>
            <a class="justify-between">
              Profile
              <span class="badge">New</span>
            </a>
          </li>
          <li><a>Settings</a></li>
          <li><a>Logout</a></li>
        </ul>
      </div>
</div>
<div class="flex space-x-8">
    <div>
        <div class="flex flex-auto  -mx-4 -mt-8">
            {% for anime in anime %}
                {%include 'components/card.html'%}
            {% endfor %}
        </div>
        <a href="{{url_for('testlink') }}" class="btn btn-primary mt-6" target="_blank"
        >Story</a
        >&copy;&rarr; BongoRooster<br/>
    </div>

    <div class="media_content rand_tech_widget mb-auto">
        <div class="b-g-title">Случайная <span>техника</span></div>
        <div id="laststoryhere">
            <figure>
                <img class="w-full h-[200px] object-cover" src="{{randompic[1]}}" alt="anime"/>
            </figure>
            <span>{{randompic[2]}}</span>
            </a>
        </div>
    </div>
</div>
{% endblock %}
