<div class="w-4/12 px-4 mt-8">
  <div class="card card-compact bg-info-content h-full overflow-hidden">
    <div class="w-full h-[250px] relative overflow-hidden">
      {%if anime[1] != ""%}
      <img
        class="absolute w-full min-h-full top-0 left-0"
        src="{{anime[1]}}"
        alt="anime"
      />
      {%else%}
      <img
        class="absolute w-full min-h-full top-0 left-0"
        src="{{url_for('static', filename= 'uploads/' + anime[6])}}"
        alt="anime"
      />
      {%endif%}
    </div>
    <!--        <img-->
    <!--            class="w-full h-[250px] object-cover"-->
    <!--            src="{{anime[1]}}"-->
    <!--            alt="anime"-->
    <!--        />-->
    <div class="card-body">
      <h2 class="card-title">{{ anime[0] }} Status {{ anime[4] }}</h2>
      <h3>Автор: {{anime[2]}}</h3>
      <p>{{anime [3]}}</p>
      <div class="card-actions justify-end">
        <a
          class="btn btn-base-100 m-8"
          href="{{url_for('animewa', anime_id=anime[5])}}"
          target="_blank"
        >
          Watch Online
        </a>
      </div>
    </div>
  </div>
</div>
